body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Intro */
#IntroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainLogo {
  width: 80px;
  position: relative;
  top: 20px;
  left: 20px;
}

#IntroContainer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1 {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 10px;
}

section h1:first-child {
  margin-top: 70px;
}

section img {
  width: 70vw;
}

section p {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
  margin-top: 45px;
}

/* bun 페이지*/

#firstTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  height: 100vh;
  background-color: #f0831b;
}

#explain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#explain h2 {
  text-align: right;
  position: absolute;
  top: 88px;
  left: 65px;
}

#explain #speech {
  position: absolute;
  width: 45vw;
  top: 57px;
  left: 180px;
}

#explain #robot {
  width: 40vw;
  position: absolute;
  z-index: 100;
  top: 61px;
  left: 190px;
}

.info {
  width: 20px !important;
  position: absolute;
  z-index: 200;
}

#info1 {
  top: 59px;
  right: 34px;
}

#info2 {
  top: 106px;
  left: 191px;
}

#info3 {
  top: 185px;
  left: 234px;
}

#speech2 img {
  position: absolute;
  top: 236px;
  left: 100px;
  width: 50vw;
}

#speech2 p {
  position: absolute;
  top: 254px;
  left: 140px;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}
.swal2-title {
  font-size: 25px !important;
}

.swal2-html-container {
  font-size: 15px !important;
  line-height: 23px;
  /*font-family: Georgia, serif;*/
}

#Buncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -50px;
}

#Buncontainer p {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  top: -81px;
}

#Buncontainer #select {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

#nameinput {
  width: 150px;
  padding: 10px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #4868a3;
  outline: none;
  font-size: 0.8rem;
  margin-top: 10px;
  font-weight: 600;
}

.selectDrink {
  text-align: center;
  margin-top: 15px;
}

#drink {
  width: 150px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 3px;
  border-radius: 20px;
}

.coke {
  color: red;
  outline: none;
  border: 2px solid red;
}

#drink option:nth-child(2) {
  color: red;
}

.sprite {
  outline: none;
  border: 2px solid #32aa59;
  color: #32aa59;
}

#drink option:nth-child(3) {
  color: #32aa59;
}

.fanta {
  outline: none;
  border: 2px solid #f0831b;
  color: #f0831b;
}

#drink option:nth-child(4) {
  color: #f0831b;
}

.water {
  outline: none;
  border: 2px solid #4e73b8;
  color: #4e73b8;
}

#drink option:last-child {
  color: #4e73b8;
}

#openingBtn {
  width: 100px;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  z-index: 150;
  position: absolute;
  bottom: 20px;
}

/* --------------page1--------------*/

#questionContainer {
  background-color: #f0831b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#questionContainer .speech {
  position: absolute;
  top: 50px;
  left: 300px;
  width: 15vw;
}

#questionContainer .robot {
  position: absolute;
  top: 57px;
  left: 309px;
  width: 10vw;
}

#questions {
  background-color: white;
  position: absolute;
  top: 110px;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  display: flex;
  height: 30px;
  width: 63vw;
  align-items: center;
  justify-content: center;
  border: 2px solid #514eff;
  color: #514eff;
  border-radius: 30px;
  margin: 17px 0;
  padding: 10px;
  font-weight: 600;
  font-size: 0.7rem;
}

.question select {
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  text-align: center;
  font-size: 0.7rem;
}

.question select:not([disabled]) {
  color: #514eff;
}

.question option:disabled {
  color: rgb(197, 197, 197);
}

#selectbtn {
  width: 200px;
  margin-top: 20px;
  padding: 7px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

/*결과 페이지*/
#resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#resultBox {
  width: 300px;
  height: 350px;
}

#resultBox.fanta {
  background-color: #f0831b;
}

#resultBox.coke {
  background-color: #e95305;
}

#resultBox.sprite {
  background-color: #1fa445;
}

#resultBox.water {
  background-color: #514eff;
}
#resultBox p {
  z-index: 200;
  color: black;
}

#resultContainer img {
  width: 27vw;
  margin-top: 5vh;
}

#resultContainer h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  margin-top: 0;
}

#resultContainer p {
  margin: 0;
  margin-top: 3px;
}

#resultContainer ul {
  width: 40vw;
  list-style: none;
  padding-left: 0;
}

#resultContainer li {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 7px;
  border: 2px solid;
  font-weight: 600;
  border-radius: 50%;
  margin-bottom: 10px;
}

#restartBtn {
  border: none;
  padding: 10px 50px;
  font-size: 15px;
  border-radius: 15px;
  color: rgb(172, 172, 172);
  font-weight: 600;
  cursor: pointer;
}

.ScrollButton {
  position: fixed; /* 버튼의 위치 고정 */
  right: 30px; /* x 위치 입력 */
  cursor: pointer; /* 호버링 했을 때 커서 모양 변경 */
  z-index: 10; /* 다른 태그에 가려지지 않게 우선순위 변경 */
}

.ScrollButton a {
  height: 30px;
}

.ScrollButton img {
  width: 30px !important;
  height: 30px;
}
